@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&family=Roboto:wght@300&display=swap');


body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#0DE0FD, #0A608E 55%, #08033E);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    
}

/******************************** Estilo modalTarefaConcluída ****************************/

.imgModal {
    width: 2.5em;
}

.boxModal {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #20668C;
    width: 17em;
    padding: 0.75em 1em;
    visibility: hidden;
}

.textModal {
    color: white;
    font-size: 1em;
    font-weight: 300;
    width: 60%;
}

/******************************** Estilo Formulário ****************************/

.boxMain {
    width: 100%;
    display: flex;
    justify-content: center;
    transition: margin-right .4s;
}
.titleForm {
    font-size: 1.6em;
    margin-bottom: 1em;
}

.label {
    display: block;
    margin-bottom: 1.5em;
    font-weight: 500;
    font-size: 0.9em;
}

.label p {
    margin-bottom: 0.25em;
}

.input {
    border-radius: 0.25em;
    border: 1px solid #ced4da;
    padding: 0.5em;
    outline: none;
    transition: 0.5s box-shadow;
}

.input:focus{
    box-shadow:0 0 5px 2px #0DE0FD;
}

#tarefa {
    width: 50%;
}

#descricao {
    width: 100%;
    height: 10em;
}

#data {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

.buttonSubmit {
    border: none;
    background: #4F42E8;
    padding: 0.75em 1em;
    color: white;
    font-weight: 400;
    letter-spacing: 0.1ch;
    border-radius: 0.35em;
    transition: 0.5s box-shadow;
}

.buttonSubmit:hover{
    cursor: pointer;
    box-shadow: 0 0 3px 2px #4F42E8;
}

.boxForm,.boxList {
    background: rgba(255, 255, 255, 1);
    width: 30vw;
    padding: 2em 2em 1.5em;
    border-radius: 0.5em;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.25);
}
/******************************** Estilo Lista de tarefas ****************************/

.buttonOpenTask {
    position:absolute;
    right:1em;
    top:0;
    border-radius: 0 0 1em 1em ;
    background: #6259D4;
    width: 5em;
    height: 4.5em;
    color:white;

}
.buttonOpenTask:hover{
    cursor: pointer;
}

.buttonHideTask , .buttonOpenTask{
    border: none;
    font-size: 1em;
}

.buttonHideTask {
    background:none;
    position: absolute;
    top:1.2em;
    right:1em;
    width: 3em;
    height: 3em;
    border-radius: 1em 1em;

}
.buttonHideTask:hover{
    cursor:pointer;
}
.iconTask {
    width: 2em;
}
.boxList {
    border-radius: 0 0 0 4px;
    position: fixed;
    height:100vh;
    width:20vw;
    right:0;
    display: none;
    border-radius: 0.5em 0 0 0.5em;
    box-sizing: border-box;
    overflow:auto;
}

@keyframes show {
    from { 
        right: -300px;
        opacity: 0;
    }
    to{
        right:0;
        opacity:1;
    }
}


@keyframes hide {
    from { 
        right:0;
        opacity:1;
    }
    to{
        right: -300px;
        opacity: 0;
    }
}


.showModal {
    display:block;
    animation: show 0.4s;
}

.hideModal {
    animation:hide .4s;
    display:block;
    animation-fill-mode: forwards;
    pointer-events: none;
}

/******************************** Conteúdo Lista de tarefas ****************************/
.header{
    display:flex;
    justify-content: space-between;
}
.titleMainList{
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 1em;
}

.item {
    position: relative;
    border-bottom: 1px solid #CCC;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    display:none;
}
.buttonSettings{
    background:none;
    border:none;
    font-size: 0.7em;
    display: flex;
    align-items: center;

}
.buttonSettings:hover{
    cursor:pointer
}
.iconSettings{
    width:2em;
    margin-right:0.5em;
}

.editItem {
    background:white;
    border:1px solid black;
    position:fixed;
    z-index: 1;
    display:none;
    right: 2em;
}
.editItem ul li {
    display:flex;
    align-items:center;
    padding:0.25em;
}
.editItem ul li:hover {
    background: #ccc;
}
.boxItem {
    background-color: #f3f4f6;
    padding: 1em;
    border-radius: 0.25em;
    margin-bottom: 0.5em;
}
.stateList {
    background: #ffff4d;
    padding: 0.30em;
    width: 50%;
    text-align: center;
    border-radius: 0.75em;
    font-style: italic;
    margin-bottom: .4em;
}
.contentItem{
    font-size: 0.9em;
}
.dataList {
    font-weight: bold;
    padding: 0 1em;
}
.titleItemList{
    font-size:1.2em;
    font-weight: 400;
    margin-bottom: 0.5em;
}
